*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.atm{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: beige;

}

.screen {
    background: aliceblue;
    width: 250px;
    height: 200px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.moneykeeper {
    background: brown;
    width: 250px;
    height: 340px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banknotes {
    width: 90px;
    height: 40px;
    background-color: rgb(4, 145, 4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 217, 0, 0.986);
}
.getMoney {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    &:hover{
        border: 2px solid #ee9f0e; 
    }
}
